<div class="container text-center" style="margin-top: 20px;">
	<app-notify [type]="typeResponse" [listMessage]="listMessageResponse" class="notify-message"></app-notify>
	<div id="divLogin">
		<form [formGroup]="frmUserLogin">
			<h3>Logo</h3>
			<p>Inicia sesión con tu cuenta de GitHub</p>
			<label for="email">Email</label>
			<input type="email" id="email" formControlName="email" class="form-control">
			<label for="">Contraseña</label>
			<input type="password" formControlName="password" class="form-control">
			<span>forgot tu paswword</span>
			<button type="button" class="btn btn-primary w-100" (click)="login()">Acceder</button>
		</form>
	</div>
</div>