<div class="p-1">
	<div class="row">
		<div class="col-md-4">
			<input type="text" class="form-control">
		</div>
		<div class="col-md-4">
			<button class="btn btn-primary w-100">Botón de bootstrap</button>
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-primary" (click)="showModal(myModal)">Abrir Modal</button>
		</div>
	</div>
</div>
<ng-template #myModal>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Título del modal</h4>
	</div>
	<div class="modal-body">
		Cuerpo del modal
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar modal</button>
	</div>
</ng-template>
<h2>Lista de Categorias</h2>
<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Estado</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{category.name}}</td>
			<td>{{category.description}}</td>
			<td>{{category.status}}</td>
		</tr>
	</tbody>
</table>