<div class="container" style="margin-top: 7px;">
	<div class="card">
		<div class="card-header">
			<h5>Registrar categoria</h5>
		</div>
		<div class="card-body">
			<form [formGroup]="frmCategoryInsert">
				<div class="row">
					<div class="col-md-3 mb-3">
						<label for="name" class="form-label">Nombre</label>
						<input type="text" formControlName="name" class="form-control" id="name" placeholder="Obligatorio">
						<div *ngIf="(nameFb.touched || nameFb.dirty) && nameFb.errors && nameFb.hasError('required')" class="divError">Este campo es requerido.</div>
					</div>
					<div class="col-md-3 mb-3">
						<label for="description" class="form-label">Descripcion</label>
						<input type="text" formControlName="description" class="form-control" id="description" placeholder="Obligatorio">
						<div *ngIf="(descriptionFb.touched || descriptionFb.dirty) && descriptionFb.errors && descriptionFb.hasError('required')" class="divError">Este campo es requerido.</div>
					</div>
					<div class="col-md-3 mb-3">
						<label for="state" class="form-label">Categoria</label>
						<select formControlName="state" class="form-select" id="state">
							<option value="1">Activo</option>
							<option value="0">Inactivo</option>
						</select>
						<div *ngIf="(stateFb.touched || stateFb.dirty) && stateFb.errors && stateFb.hasError('required')" class="divError">Este campo es requerido.</div>
					</div>
				</div>
				<hr>
				<div class="d-flex justify-content-end">
					<button type="submit" class="btn btn-primary" (click)="save()">Registrar datos</button>
				</div>
			</form>
		</div>
	</div>
</div>